*{
    padding: 0;
    margin:0;
}
body{
    background: #eacda3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d6ae7b, #eacda3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    



    
}

.griGral{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "encabezado encabezado encabezado"
    "menuHeader menuHeader menuHeader"
     "pieDePagina pieDePagina pieDePagina";
}

.logo{
    
    width: 30%;
    margin-left: 5px;
   
}
    


.encabezado{
    grid-area: encabezado;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
   

           
}



.menuHeader ul, footer ol{
    grid-area: menuHeader;
    display: flex;
    margin-right: 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.menuHeader ul li{
    list-style-type:none;

}
ul li a { 
text-decoration: none;
margin: 0 20px;
color:black;

}

.pieDePagina{
 grid-area: pieDePagina;
 height: 200px;
display: flex;

}
.imgP{
width:1fr 1fr 1fr;
height:100%;
}

@keyframes texto {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}

h2 {
    animation-name: texto;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
a{
    text-decoration: none;
    color: black;
}